<h5>Inventarliste</h5>

<table>
    <th>
        <td>ID</td>
        <td>Zustand</td>
        <td>Preis</td>
    </th>
    <tr>
        <td>1</td>
        <td>originalverpackt</td>
        <td>25,00 EUR</td>
    </tr>
    <tr>
        <td>2</td>
        <td>gebraucht</td>
        <td>25,00 EUR</td>
    </tr>
</table>