<h3>Title</h3>

<p>Beschreibung steht dann hier...</p>

<p>
    Höhe: x cm <br>
    Breite: x cm <br>
    Tiefe: x cm
</p>

<p>Gewicht: 500 g</p>

<p>Kategorie: Krimi</p>

<img src="https://loremflickr.com/320/240" alt="Image title">

{{outlet}}