<header>
    <h1>Antiquitäten Brause</h1>

    <nav>
        <ul>
            <LinkTo @route='index' @tagName='li'>Start</LinkTo>
            <li><a href="https://booklooker.de" target="_blank" rel="noopener noreferrer nofollow">Buchbibliothek</a></li>
            <LinkTo @route='about' @tagName='li'>Über uns</LinkTo>
        </ul>
    </nav>

</header>

{{outlet}}