<section id="call-to-action">

    <button class="hero-c2a">
        Suchen Sie jetzt nach Büchern
    </button>

</section>

<div class="text-content">

    <section id="welcome">
        <h3>Willkommen!</h3>

        <p>
            Antiquitäten Brause bietet Sammlerstücke, Seltenheiten als auch Bücher aus zweiter Hand.
        </p>

        <p>
            Zur vollständigen Auflistung unseres Bücherangebots besuchen, sie bitte unsere ausgiebige Suche!
        </p>
    </section>

</div>